img {
    width: 450px;
}

.super-mario {
    position:absolute;
    z-index: 2;
}

.goomba {
    position:absolute;
    bottom: 10%;
    z-index: 1;
}

.baloon{
    position:absolute;
    right: 30%;
    top: 1%;
    z-index: 4;
}

.bowser{
    position:absolute;
    right: 10px;
    z-index: 3;
}

.word{
    position:absolute;
    font-size: 40px;
    z-index: 5;
    left: 640px;
}